* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-size: 16px;
  background: #2e3444;
  color: #3c3838;
}

.separator {
  font-size: 10px;
  color: #b0b3c4;
  display: inline-flex;
  gap: 16px;
  width: 100%;
  flex-shrink: 1;
  align-items: center;
}

.separator span {
  flex-shrink: 0;
}

.separator::after,
.separator::before {
  font-size: 10px;
  height: 1px;
  color: #cfcdcd;
  content: '';
  width: 100%;
}

.login {
  width: 360px;
  background: #1d2236;
  color: #b0b3c4;
  border-radius: 20px;
  box-shadow: 2px 2px 6px #151a2d, -2px 0 6px #151a2d;
  padding: 16px 16px 24px 16px;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
}

.login .login-social {
  margin-top: 32px;
  display: flex;
  gap: 16%;
}

.login .login-social li {
  flex-basis: 33%;
  aspect-ratio: 1 / 1;
}

.login .login-social button[type='button'] {
  width: 100%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  border-radius: 6px;
  background: #171c2c;
  border: 0;
  box-shadow: inset -2px 2px 6px #0d101a;
}

.login .login-social button[type='button'] img {
  max-width: 100%;
}

.login .login-social button[type='button']:hover {
  box-shadow: inset -2px -2px 6px #0d101a;
}
.login h1 {
  font-size: 18px;
  margin-bottom: 16px;
}

.login .form-row:first-child {
  margin-bottom: 16px;
}

.login .form-row label {
  display: block;
  font-size: 18px;
  text-align: left;
  margin-bottom: 4px;
}

.login .form-row input[type='email'],
.login .form-row input[type='password'] {
  background: #171c2c;
  border: 0;
  height: 32px;
  display: block;
  width: 100%;
  outline: 0;
  padding: 0, 8px;
  caret-color: #b0b3c4;
  border-radius: 6px;
}

.login form button[type='submit'] {
  background: #f93e2f;
  display: block;
  padding: 10px 0;
  border: 0;
  border-radius: 6px;
  width: 100%;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  margin-top: 24px;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.login form button[type='submit']:hover {
  background: #a01e15;
}

.login .Sign-up {
  font-size: 12px;
  margin-top: 16px;
  text-align: center;
}

.login .Sign-up a {
  text-decoration: underline;
}

.login .Sign-up a:hover {
  text-decoration: none;
}

.login footer {
  margin-top: 16px;
}
